{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'global/css/styles.css' %} ">
    <title> Entregas - {{ title }} </title>
</head>

<body>
    <div class='menu-1'>
        <div class="conteines">     
        <nav class='menu-2'>
                <div class='logo-marca'>
                    <a href=" {% url 'contact:index' %} ">
                        <h1>Eventos Black</h1>
                    </a>
                </div>
                <div class='menu-ul'>
                    <ul>
                        <li>Avisos</li>
                        <li>Eventos</li>
                        <li>Contatos</li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>


    <div class="principal">
        <div class='sistema-main'>
            <h1>SISTEMA DE CADASTROS</h1>
        </div>

        <div class='menu'>
            <div class='menu-content'>
                <a href=" {% url 'contact:cadastros' %} ">Cadastra Entregas</a>
                <a href=" {% url 'contact:visualizacao' %} ">Visualiza Entregas</a>
            </div>
        </div>
        {% include "global/messagem.html" %}
        {% block content %}{% endblock content %}
    </div>

</body>

</html>