* {
    padding: 0.1rem;
    margin: 0 auto;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    color: darkblue;
    top: 0;
}
.sistema-main{
    font-size: 1.5rem;
    padding: 0.5rem;
    
}
/* h1 {
    padding-bottom: 0.7rem;
} */
input {
    font-size: 1.5rem;
    padding: 0.9rem;
    box-shadow: 0 4px 8px rgba(0, 47, 255, 0.5);
    border-radius: 1rem;
    width: 100%;
}
input:focus {
    border-color: rgb(255, 255, 255);
    font-size: 1.7rem;
    outline: none;
    border-radius: 0;
    box-shadow: 0 4px 18px rgba(85, 85, 85, 0.9);
}
button {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    background: rgb(181, 240, 181);
    color: black;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: 0.6rem;
    width: 10rem;
}
button:hover {
    font-size: 1.3rem;
    background: rgb(41, 255, 41);
}
.p-help {
    color: rgb(0, 136, 255);
    padding: 0.5rem;
    text-transform: uppercase;
}
.menu{
    display: flex;
    flex-direction: row;
    
}
.menu-content{
    font-family: serif;
    margin-top: 2rem;
    font-size: 1.05rem;
    margin-bottom: 2rem;
}
.menu-content a {
    color: crimson;
}
.menu-content a:hover {
    font-size: 2rem;
    color: black;
    
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    border: 0.1rem solid crimson;
    padding-bottom: 1rem;
}
.content-h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}
.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.principal a {
    text-decoration: none;
    font-size: 1.9rem ;
    
    padding: 0.6rem;
    justify-content: space-between;
    text-transform: uppercase;
}


/* .conteine-registro{
    
} */
.registro-title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.registro-menu {
    display: flex;
    
}
.registro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;

}
table {
    border: 0.05rem solid red;
    border-radius: 1rem;
    padding: 2rem;
    width: 50rem;
    font-size: 2rem;

}

td{
    padding: 2rem;
    
}

tr:hover {
    font-size: 2.02rem;
    background-color: rgba(135, 161, 248, 0.2);
    
}
.cadastro {
    padding: 2rem;
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message{
    background: rgb(67, 255, 67);

    font-size: 2rem;
    padding: 1rem;
}

.menu-1 {
    background: rgb(0, 0, 0);
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
}
.menu-2 {

    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
.logo-marca {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: rgb(255, 0, 0);
    border-radius: 3rem;
}
.logo-marca:hover {
    
    background: rgb(38, 0, 255);
}
.logo-marca a:hover{
    color: white;
}
.menu-ul {
    display: flex;
    align-items: center;
    font-family:  'Times New Roman', Times, serif;
}

.menu-ul ul li{
    padding: 1rem;
    color: white;
    border-bottom: 0.1rem solid red;
    font-size: 1rem;
}
.menu-ul ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-ul ul li:hover {
    color: red;
    border-bottom: 0.1rem solid white;
    font-size: 1.5rem;
}