{% extends "global/base.html" %}

{% block content %}

<section>
    <h1 class='content-h1'>Cadastra Entregas</h1>
    <form method="POST" action=" {{ form_action }} " enctype="multipart/form-data" class="content">
        {% csrf_token %}

        <header class="cadastro">
            {% for field in form %}

            {% if field.help_text %}
            <p class="p-help">{{ field.help_text }}</p>
            {% endif %}
            {{ field}}



            {% endfor %}

        </header>

        <div>
            <button type="submit">Enviar</button>

        </div>

    </form>
</section>

{% endblock content %}