{% extends "global/base.html" %}

{% block content %}

{% comment %} Messagem avisando {% endcomment %}



<div class='conteine-registro'>
    <div class='registro-title'>
        <h1>Cadastro Resistrado</h1>
    </div>
    
<header class='registro-menu' >
    <div class='registro-content' >
        <table>
            
            <thead>
                <tr>
                    <th>Numero</th>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                {% for cadastro in registro %}
                <tr>
                    <td>
                        {{ cadastro.numero_apt }}
                    </td>
                    <td>
                        {{ cadastro.nome_morado }}
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</header>
</div>

{% endblock content %} 

